/*    CONTROL MEDIA (RESPONSIVE)
    Móvil pequeño: 360 x 640 px.
    Smartphone grande: 720 x 1280 px.
    Ordenador portátil medio: 1366 x 768 px.
*/
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/*PARTE DE ARRIBA - PANTALLA Y ORDENADOR*/
.contenidoTotal {
    background: rgb(253,45,249);
    background: linear-gradient(0deg, rgba(253,45,249,0.5945844890690651) 0%, rgba(34,193,195,0.7822595590970763) 100%);
    /*background-color: rgba(80, 79, 79, 0.8);*/
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin:0 auto;
    padding-top: 20px;
}

/*PARTE DE ABAJO - TECLADO (Y RATON)*/
footer {
    /*  control de fondo inverso a contenidoTotal*/
    background: linear-gradient(0deg, rgba(34,193,195,0.7822595590970763) 0%, rgba(253,45,249,0.5945844890690651)  100%);    
    color: #d3cece;
    height: 30vh;
    display: flex;
    justify-content: center;
}

/*MARCO DE PANTALLA*/
.marco{
    width: 80%;
    height: 70%;
    max-width: 540px;
    max-height: 415px;
    min-width: 520px;
    min-height: 415px;
    background-color:rgb(24, 24, 24);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: #888686;
}
.marcoLogo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#logo{
    width:20px;
    border-radius: 2px;
}

/*MODOS DE PANTALLA*/
.encenderPantalla {
    background-color: #2b3449;
    box-shadow: inset 0 0 15px white, 0 0 25px cyan;
    color:black;
}
.pantallaResultados {
    background-color: #c9c9c9;
}

.pantallaOpciones {
    background-color: rgb(102, 105, 105);
}
.pantallaApagada{
    background-color: rgb(0, 0, 0);
}

/*ESTILOS PARA LA PANTALLA*/

#pantalla {
    width: 75%;
    height: 60%;
    max-width: 600px;
    max-height: 450px;
    min-width: 500px;
    min-height: 350px;
    border:solid 1px #888686;
    border-radius: 5px;
    position:relative;
    overflow: hidden;
    margin-top: 10px;
    cursor: crosshair;
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: end;
}

#coloresJuego{
    width: 85%;
    height: 95%;
    position: relative;
    left: -40px;
    top:20px;
    justify-content:flex-start;
    /*display:grid;
    grid-template-columns: 1fr 1fr;*/
    /*grid-template-rows: 1fr 1fr;*/
}
.botonesJugador{
    text-align: center;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
}
.patata0{
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url("../images/VeryHotPatata/patata1.jpeg");
    background-size: cover;
    /*background-color: red;*/
    filter: brightness(40%);
}
.patata1{
    position: absolute;
    top: 10px;
    left: 70%;
    background-image: url("../images/VeryHotPatata/patata1.jpeg");
    background-size: cover;
    /*background-color: blue;*/
    filter: brightness(40%);
}
.patata2{
    position: absolute;
    top: 70%;
    left: 5px;
    background-image: url("../images/VeryHotPatata/patata1.jpeg");
    background-size: cover;
   /* background-color: green;*/
    filter: brightness(40%);
}
.patata3{
    position: absolute;
    top: 70%;
    left: 60%;
    background-image: url("../images/VeryHotPatata/patata1.jpeg");
    background-size: cover;
    /*background-color: yellow;*/
    filter: brightness(40%);
}
.active{
    background-image: url("../images/VeryHotPatata/patata2.jpeg");
    background-size: cover;
    filter: brightness(150%);
}

/*ESTILOS PARA EL ORDENADOR*/
#ordenador {
    width: 15%;
    height: 70%;
    max-width: 150px;
    max-height: 415px;
    min-height: 415px;
    min-width: 150px;
    border:solid 1px #d3cece;
    border-radius: 10px;
    background-color:rgb(24, 24, 24);
    display: flex;
    gap: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*ESTILO DE LOS BOTONES Y LUCES PC*/
#luzEncendido{
    background-color: mediumseagreen;
}
#luzApagado{
    background-color: brown;
}
.luzON{
    box-shadow: inset 0 0 15px mediumseagreen, 0 0 10px rgb(91, 248, 104);
}
.luzOFF{
    box-shadow: inset 0 0 15px brown, 0 0 10px rgb(204, 66, 66);
}


#btnON{
    border-radius: 10px;
    background-color: #d1d0d0;
    min-height: 25px;
    min-width: 10px;
}

#btnON:hover{
    background-color: #333;
    color: #d1d0d0;
}
.disabled{
    opacity: 0.6;
    cursor: not-allowed;
}



/*ESTILO PARA BOTONES CREADOS CON JS Y AÑADIDOS AL DOM*/
.btnControl{
    background-color: #8d8a8a;
    opacity: 0.7;
    height: 28px;
    width: 28px;
    padding: 0;
    margin: 0;
}
.play{
    border: none;
    background-image: url("../images/iconos/play.png");
    background-size: cover;
    height: 25px;
    width: 25px;
}
.pause{
    border: none;
    background-image: url("../images/iconos/pausa.png");
    background-size: cover;
    height: 25px;
    width: 25px;
}
.ajustes{
    border: none;
    background-image: url("../images/iconos/ajustes.png");
    background-size: cover;
    height: 25px;
    width: 25px;
}